:root{
    /* Major Colors */
    --primary-color: #094074;
    --primary-color2: rgba(0, 0, 0, 0.6);
    --primary-color3: rgba(0, 0, 0, 1);
    --primary-color4: rgba(0, 0, 0, 0.8);
    --secondary-color: #3c6997;
    --accent-one: #ff9100;
    --accent-two: #5ADBFF;
    --accent-three: #f8f9fd;
    --accent-four: rgb(236, 241, 255);

    /* Major Fonts */
    --heading-font-one: "Lugrasimo", cursive;
    --heading-font-two: "Kanit", sans-serif;
    --paragraph-font: "Open Sans", sans-serif;

    /* Color Division */
    --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
    --headline-color-on-color: var(--accent-three); /* headlines on a colored background */ 
    --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
    --paragraph-color-on-color: var(--accent-three); /* paragraph text on a colored background */ 
    --paragraph-background-color: var(--accent-three);
    --nav-link-color: var(--accent-one);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--accent-three);
    --nav-hover-background-color: var(--secondary-color);
}

/* * {
    border: 1px solid black;
} */

body {
    max-width: 1600px;
    margin: 0 auto;
    /* padding: 2em; */
    font-size: 14px;
    /* text-align: center; */
    overflow: auto;
    /* background-color: var(--accent-four); */
}
.overflow {
    overflow: hidden;
}

/* #home-content {
    padding: 1rem;
} */

#menu {
    display: block;
}
#menu-btn-content {
    display: none;
}

header {
    padding: 1em;
    text-align: center;
    color: var(--headline-color-on-color);
    background-color: var(--primary-color);
    box-sizing: border-box;
    overflow: hidden;
}
img {
    display: block;
    margin: 0 auto;
}
h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-two);
    color: var(--headline-color-on-white);
    /* text-shadow: 1px 1px 1px var(--accent-two); */
}
h1 {
    font-family: var(--heading-font-one);
    color: var(--headline-color-on-color);
    text-shadow: 1px 1px 1px var(--accent-two);
    font-size: 2em;
}
h2 {
    text-align: center;
}
h3 {
    margin: 0;
    padding: 0;
}
h4 {
    margin: 0.5rem 0;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}
header > h1, header > h2 {
    color: var(--headline-color-on-color);
}

section {
    border: 1px solid var(--primary-color);
    /* background-color: var(--paragraph-background-color); */
    margin: 1rem;
    padding: 1rem;
}

p {
    font-family: var(--paragraph-font);
    font-size: 1em;
    color: var(--paragraph-color-on-white);
    margin: 0;
}
ul li {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: var(--paragraph-background-color);
}
.colors td{
    width: 20%;
    height: 3em;
}

.primary {
    background-color: var(--primary-color);
}
.secondary {
    background-color: var(--secondary-color);
}
.accent1 {
    background-color: var(--accent-one);
}
.accent2{
    background-color: var(--accent-two);
}
.accent3{
    background-color: var(--accent-three);
}

p.colored {
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
    padding: 1rem;
}

button {
    width: 80px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--accent-three);
    font-weight: bold;
    font-family: var(--heading-font-two);
    align-content: center;
    text-align: center;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    transition: transform 0.4s, opacity 0.4s;
}
button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
button:active {
    transform: scale(1);
    opacity: 1;
}

a {
    text-decoration: none;
    color: var(--accent-three);
}

/* Horizontal Scrollbar Styling */
.scroll-layer {
    overflow-x: auto;
    scrollbar-width: none;
    /* scrollbar-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0); */
}

/* Hide Control Box (The box containing left and right buttons, and count number of elements in a scroll */
/* I'm hiding it till further notice */
#we-do-control-box {
    display: none;
}
#event-control-box {
    display: none;
}

/* Calender */
#discover-calender {
    width: 100%;
    height: 100%;
    /* border: 1px solid var(--primary-color); */
}
ul {
    list-style-type: none;
}
.month {
    padding: 2rem;
    width: 100%;
    background: var(--primary-color);
    text-align: center;
    box-sizing: border-box;
  }
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    height: 43%;
    box-sizing: border-box;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  .days li .active {
    padding: 5px;
    background: var(--primary-color);
    color: white
  }

@media screen and (max-width: 890px) {
    /* NAV */
    nav {
        width: 100%;
        height: 50px;
        display: block;
        position: fixed;
        padding: 0.5rem 0;
        justify-items: center;
        font-size: 1.2em;
        font-weight: bold;
        font-family: var(--heading-font-two);
        background-color: var(--primary-color2);
        opacity: 0.9;
        transition: top 0.5s, background-color 0.5s;
        z-index: 4;
    }
    nav #logo{
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 0 .5rem;
        margin-left: 1rem;
        animation-name: rotate-image;
        animation-duration: 5s;
        animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);
        animation-iteration-count: infinite;
    }
    nav ul {
        width: 65%;
        text-align: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 67px;
        left: 100%;
        z-index: 2;
        background-color: var(--primary-color3);
        transition: left 0.5s;
    }
    .show {
        display: block;
        left: 35%;
    }
    nav ul li {
        text-decoration: none;
        list-style: none;
        margin: 0;
        align-content: center;
        border: 1px dotted var(--primary-color);
        width: 100%;
    }
    nav ul li a {
        text-decoration: none;
        color: var(--headline-color-on-color);
        text-shadow: 1px 1px 1px black;
        /* border: 1px solid green; */
        margin: 0;
        /* display: none; */
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        text-decoration: none;
        padding: 1rem 0;
    }
    nav ul li a:hover {
        color: var(--accent-one);
    }
    .selected {
        color: var(--accent-one);
    }

    #hamburger {
        display: inline-block;
        width: 75%;
    }
    #menu {
        /* width: 80%; */
        float: right;
        background: none;
        height: 100%;
        position: relative;
        font-size: 2.5em;
        box-shadow: none;
        border: none;
        color: var(--accent-one);
    }
    #menu::before {
        content: "☰";
    }
    #menu.open::before {
        content: "⨉";
    }
    #menu:hover {
        transform: scale(1);
    }

    /* HEADER */
    header {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-items: center;
    }
    header img {
        width: 100%;
        height: 100vh;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    header #header-overlay {
        width: 100%;
        height: 100vh;
        background-color: var(--primary-color);
        grid-column: 1/2;
        grid-row: 1/2;
        background-color: rgba(0, 0, 0, 0.6);
    }
    header #header-intro {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 1rem;
        /* background-color: var(--primary-color); */
        opacity: 0.9;
        position: relative;
        top: -10vh;
    }
    #header-intro h1 {
        opacity: 0;
        transition: opacity 2s;
    }
    #header-intro h2 {
        color: var(--headline-color-on-color);
        opacity: 0;
        transition: opacity 2s;
        /* display: none; */
    }
    #header-intro #call-to-action-btn {
        width: 120px;
        height: 60px;
        font-size: 1.2em;
        color: var(--primary-color3);
        background-color: var(--accent-one);
        text-shadow: 1px 1px 2px var(--paragraph-color-on-color);
    }

    /* MAIN */
    main {
        /* background-color: var(--primary-color); */
        background: url(../images/hotel-banner-2.png);
        /* padding: 1rem; */
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 1rem;
    }
    main #main-overlay {
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
    }
    main section {
        /* background-color: var(--accent-three); */
        background: none;
        margin: 0;
    }
    main section .h2-headers, #first-main-h2 {
        background-color: var(--primary-color);
        color: var(--headline-color-on-color);
    }

    .h2-headers {
        width: 100%;
        height: 100px;
        margin: 0;
        align-content: center;
    }

    .scroll-layer {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
        white-space: nowrap;
    }

    .control-box {
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 1rem;
        box-sizing: border-box;
    }
    .count {
        align-content: center;
        margin: 0 1rem;
        font-size: 1.2em;
        font-weight: bold;
        font-family: var(--heading-font-two);
        color: var(--accent-three);
    }

    /* WHAT WE DO */
    main #card-1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr;
        column-gap: 20px;
    }
    main #card-1 h2 {
        grid-column: 1/2;
        grid-row: 1/2;
        height: 100%;
        margin: 0;
        align-content: center;
    }

    main #card-1 #scroll-layer-1 {
        width: 100%;
        grid-row: 2/3;
        margin: 0;
        border: 1px solid var(--primary-color);
    }
    .card-we-do {
        background-color: var(--accent-three);
        width: 100%;
        height: auto;
        display: inline-block;
        box-sizing: border-box;
        white-space: wrap;
    }
    #scroll-layer-1 section img {
        width: 100%;
        height: 200px;
        margin: 0;
    }
    #scroll-layer-1 section h3 {
        text-align: center;
        margin: 0;
    }
    #scroll-layer-1 section p {
        padding: 0.5rem 1rem;
    }

    /* CURRENT EVENT */
    main #card-2 {
        display: grid;
        justify-items: center;
    }

    main #card-2 #scroll-layer-2 {
        transition: scrollX 2s;
        border: 1px solid var(--primary-color);
        background-color: var(--accent-three);
    }
    main #card-2 #scroll-layer-2 .event-box {
        width: 90%;
        height: auto;
        margin: 0 1rem;
        display: inline-block;
        box-sizing: border-box;
        white-space: wrap;
    }
    .event-box .an-event-block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
    }
    .event-box img {
        width: 100%;
        height: 50vh;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .event-box .event-description {
        background-color: var(--primary-color4);
        color: var(--accent-three);
        grid-column: 1/2;
        grid-row: 1/2;
        align-content: center;
        padding: 0;
        height: 100%;
        position: relative;
        top: 1000px;
        transition: top 0.8s, left 0.8s;
        border: none
    }
    .event-description h3 {
        text-align: center;
        color: var(--accent-three);
    }
    .event-description p {
        padding: 1rem;
        color: var(--accent-three)
    }
    .event-description span {
        display: none;
    }

    /* SPORT LIGHT SECTION */
    main #card-3 #spotlight {
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        grid-template-rows: 1fr;
        padding: 1rem;
        align-content: center;
        border: 1px solid var(--primary-color);
        background-color: var(--accent-three);
    }

    #spotlight #advertisement-box{
        grid-column: 1/4;
        grid-row: 1/2;
        display: grid;
        opacity: 1;
        border: 1px dotted var(--primary-color);
    }
    #advertisement-box img {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 100%;
        height: 50vh;
    }
    #advertisement-box section {
        grid-column: 1/2;
        grid-row: 1/2;
        opacity: 1;
        align-self: last baseline;
        background-color: var(--primary-color3);
        border: none;
    }
    #advertisement h3 {
        text-align: center;
        color: var(--accent-three);
    }
    #advertisement p {
        color: var(--accent-three);
    }
    
    #spotlight video {
        /* grid-column: 2/4;
        grid-row: 1/2;
        width: 100%;
        align-self: center; */
        display: none;
    }

    /* WEATHER INFO */
    #card-4 {
        display: block;
    }
    #card-4 #info-graph {
        display: grid;
        padding: 2rem;
        align-content: center;
        justify-content: center;
        box-sizing: border-box;
        font-family: var(--paragraph-font);
        font-weight: bold;
        font-size: 1.2em;
        row-gap: 1rem;     
        border: 1px solid var(--primary-color);
        background-color: var(--accent-three);
        /* color: var(--accent-); */
    }
    #info-graph .weather-info {
        font-weight: normal;
    }

    /* FOOTER */
    footer {
        display: grid;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--primary-color);
        color: var(--accent-three)
    }
    footer img {
        width: 100px;
        height: 100px;
    }
    footer #footer-contact {
        display: flex;
        align-content: center;
        /* width: 15%; */
        justify-content: space-between;
        justify-content: center;
    }
    footer #footer-contact a {
        margin: 0 1rem;
    }
    footer #footer-contact a img {
        width: 25px;
        height: 25px;
    }
    footer h3 {
        color: var(--accent-three);
        font-size: 0.9em;
        margin: 0.5rem;
        box-sizing: border-box;
    }
    footer #footer-logo-holder-2 {
        display: none;
    }
    footer #copyright-box {
        word-spacing: 0.4rem;
    }
    footer #last-update {
        display: block;
        margin: 0.5rem;
        box-sizing: border-box;
    }
    /*  DISCOVER PAGE STYLING */
    /*  DISCOVER PAGE STYLING */
    /*  DISCOVER PAGE STYLING */
    #discover {
        display: block;
        justify-items: center;
    }
    #discover-main {
        margin: 1rem 0;
    }
    #discover-sidebar {
        display: block;
        overflow-x: scroll;
        gap: 1rem;
        white-space: nowrap;
        scrollbar-width: none;
        margin: 1rem 0;
    }

    /* Discover Sidebar */
    #discover-sidebar section {
        width: 80%;
        height: 300px;
        overflow-y: auto;
        display: inline-block;
        white-space: wrap;
        scrollbar-width: none;
    }
    .discover-sidebar-paragraph-text {
        border: 1px solid var(--primary-color);
        background-color: var(--accent-three);
        color: black;
        padding: 1rem;
    }
    
    #discover-sidebar #info-graph {
        padding: 1rem;
        height: 188px;
        /* background-color: yellow; */
    }

    #discover-sidebar #weather-box-discover {
        font-size: 0.8em;
        margin: 0;
    }

    /*Calender*/
    .weekdays li, .days li {
        width: 12.5%;
    }
    .days li .active {
        padding: 2px;
    }

    .days {
        padding: 10px 0;
        background: #eee;
        height: 50%;
      }

    /* Discover Main */
    #discover-main .discover-box {
        /* width: 100%; */
        /* height: 100%; */
        margin: 1rem;
        box-sizing: border-box;
        background: none;
    }
    .a-discover-block {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        overflow: hidden;
        width: 100%;
        height: auto;
    }
    .a-discover-block picture {
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .a-discover-block picture img {
        width: 100%;
        height: auto;
        border: 1px dotted var(--primary-color);
    }
    .discover-description {
        grid-column: 1/2;
        grid-row: 1/2;
        align-content: center;
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
        height: 40%;
        position: relative;
        top: 60%;
        transition: top 0.8s, left 0.8s;
        background: linear-gradient(var(--primary-color4), var(--primary-color));

    }
    .discover-description h3 {
        text-align: center;
        color: var(--accent-three);
    }
    .discover-description p {
        color: var(--accent-three);
        box-sizing: border-box;
    }
    .discover-description span {
        color: var(--accent-three);
    }
}

/* ANIMATIONS */
@keyframes rotate-image {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes make-visual {
    0% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}