:root {
    --primary-color: #2f0020;
    --secondary-color: #062A00;
    --accent1-color: #910063;
    --accent2-color: #1EDE01;
    --accent3-color: #FBF8F8;
}

/*----------- FORM STYLING --------------*/
main {
    display: block;
}
.wf1 {
    width: 100%;
    height: 100%;
}
.wf1 label {
    font-size: .9rem;
    display: block;
    padding-top: 1rem;
    font-weight: bold;
    /* width: 100%; */
    margin: 0 auto;
    max-width: 400px;
}
.wf1 label input {
    display: block;
    background-color: #eee;
    display: block;
    border: 1px solid #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    outline-color: var(--accent1-color);
}
.wf1 label input:required {
    border-right: 4px solid var(--accent1-color);
}
.wf1 label input:valid {
    border-right: 4px solid var(--accent2-color);
    outline-color: var(--accent2-color);
}
#passwordErrorMsgBox {
    max-width: 400px;
    /* background-color: red; */
    margin: 0 auto;
    font-size: 0.9rem;
    /* text-align: center; */
    overflow: hidden;
    display: none;
}

#passwordErrorMsgBox p {
    position: relative;
    top: -100px;
    transition: top 0.8s;
    margin: 0;
    color: red;
}

#rateCount {
    display: block;
    font-size: 1.6em;
    font-weight: lighter;
    text-align: center;
}

.wf1 input[type="range"] {
    margin: -3% 0 0 0;
    outline: none;
}

.wf1 input[type="submit"] {
    padding: 0.9rem;
    background-color: var(--primary-color);
    width: 96%;
    max-width: 400px;
    display: block;
    margin: 1rem auto;
    color: var(--accent3-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--accent1-color);
    transition: transform 0.5s, background-color 0.5s;
}
.wf1 input[type="submit"]:hover {
    transform: scale(1.05);
    background-color: var(--accent1-color);
    box-shadow: 0 0 5px var(--primary-color);
}
.wf1 input[type="submit"]:active {
    transform: scale(1);
    background-color: var(--primary-color);
    box-shadow: 0 0 5px var(--accent1-color);
}